@import url(./src/css/index.css);


:root {
    /* Paleta de colores */
    --bodybackgroundcolor: #f0eeee;
    --background-color: rgba(255, 255, 255, 0.13);

    --primary-color: #42b883;
    --primary-color-hover: #93bd21;

    --secondary-color: #0c478a;
    --secondary-color-hover: #2b5d5d;


    /* Tipografía */
    --primary-font-color: #333;
    --secondary-font-color: #0036e9;
    /* size */
    --primary-font-size: 2em;
    --secondary-font-size: 1.5em;
    /* weight */
    --primary-font-weight: 600;
    --primary-font-weightHover: 700;
    --secondary-font-weight: 400;
    --secondary-font-weightHover: 600;
    /* letter-spacing */
    --primary-lletter-spacing: 1.5px;
    --secondary-letter-spacing: 1px;

    --font-color-p: #333;
    --p-letter-spacing: 1.5px;


    /* Bordes y sombras */
    --std-borderRadius: 10px;
    --btn-borderRadius: 25px;
    --std-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    --std-hover-box-shadow: 0 8px 15px rgba(170, 153, 3, 0.2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;

    font-weight: 400;
    background-color: var(--bodybackgroundcolor);
    color: var(--font-color);
}

/* nav */
header {
    width: 100%;
    min-height: 10vh;
    padding: 0px 10px 0px 0px;

    position: fixed;
    top: 0;
    z-index: 99;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondary-color);
    box-shadow: var(--std-box-shadow);
}

.logoContainer {
    padding-left: 10px;
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoContainer img {
    width: auto;
    max-height: 75px;
    border-radius: var(--std-borderRadius);
}

nav {
    display: none;

    /* mobile style */
    padding: 10px;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 10vh;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

    background-color: var(--secondary-color);

    transition: all 0.5s ease;

}

nav a {
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--primary-color);
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    letter-spacing: var(--secondary-letter-spacing);
    border-radius: var(--std-borderRadius);
    transition: all 0.5s ease;
}

nav a:hover {
    color: var(--primary-color-hover);
    box-shadow: var(--std-box-shadow);
}

#navBtnCont {
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

#navBtn {
    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    transition: all 1s ease;
}

#navBtn:hover {
    justify-content: space-around;
}

.bar {
    width: 90%;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 25px;
}

#cartBtn {
    display: none;
    width: 30px;
    height: 30px;
}

main {
    margin-top: 12vh;
    width: 100%;
    max-width: 1440px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section {
    background: var(--background-color);
    box-shadow: var(--std-box-shadow);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.98);

    border-radius: var(--std-borderRadius);
}

/* mediaqueries tablet 968px */

@media (min-width: 768px) {

}

/* mediaqueries desktop 1000px */

@media (min-width: 1000px) {
    nav {
        /* desktop style */
        width: 80%;
        height: 90%;
        box-shadow: none;
        padding: 10px;
        position: static;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;

        background-color: var(--secondary-color);

    }
    nav a{
        width: auto;
    }
    #navBtn{
        display: none;
    }
}

/* animaciones */
.fx-active {
    display: flex;
    animation: SlideInTop 0.5s ease 0s 1 normal forwards;

    box-shadow: var(--std-box-shadow);
}

.fx-close {
    animation: SlideInBottom 0.5s ease 0s 1 normal forwards;
}

@keyframes SlideInTop {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes SlideInBottom {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-250px);
    }
}

/* styles generales */

.dnone {
    display: none;
}