/* company */
#secCompany{
    margin-top: 2vh;
    width: 95%;
    min-height: 30vh;
    max-height: 500px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.socialNetworksList{
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}
.socialNetworksList li{
    padding: 5px;

    border-radius: 100%;
    box-shadow: var(--std-box-shadow);
}
.socialNetworksList li:hover{
    box-shadow: var(--std-box-shadow-hover);
}
.socialNetworksList img{
    width: 30px;
    height: 30px;
}
#companySocialNetworks{
    width: 100%;
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

#secCompany .companyDesc{
    width: 100%;
    padding: 5px;
    border: 1px solid var(--std-borderColor);
    border-radius: var(--std-borderRadius);
    display: flex;
    flex-direction: column;
    gap: 1px;

    box-shadow: var(--std-box-shadow);
    transition: all 0.5s ease;
}
#secCompany .companyHeader{
    position: relative;
    top: -80px;
    width: 75%;
    margin-left: 50px;
    padding: 5px;
    text-align: center;
}
#secCompany .companyLogo{
    width: 50px;
    height: 75px;

    position: relative;
    top: -50px;

    background-color: var(--background-color);
    border: 2px solid var(--std-borderColor);
    border-radius:100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease;
}
#secCompany .companyLogo:hover{
    border-color: var(--std-borderColorHover);
}
#secCompany .companyInfo{
    border: 1px solid blue;

    width: 100%;
    min-height: 200px;
}
#secCompany .companyInfo p{
    color: var(--secondary-color);
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    letter-spacing: var(--secondary-letter-spacing);
}
#secCompany .companyActions{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

/* Estilos para la tabla de horarios en el modal */
.horariosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.horariosTable th, .horariosTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid var(--std-borderColor);
}

.horariosTable th {
    background-color: var(--primary-color);
    color: white;
}

.horariosTable td {
    background-color: #f9f9f9;
}

.horariosTable tr:hover {
    background-color: #e0e0e0;
}
/* Estilos para la tabla de redes sociales en el modal */
.socialNetworksTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.socialNetworksTable th, .socialNetworksTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid var(--std-borderColor);
}

.socialNetworksTable th {
    background-color: var(--primary-color);
    color: white;
}

.socialNetworksTable td {
    background-color: #f9f9f9;
}

.socialNetworksTable tr:hover {
    background-color: #e0e0e0;
}


/* products */

.product-section{
    width: 98%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.product-section h2{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.product-container{
    width: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Contenedor de filtros */
.filter-container {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    box-shadow: var(--std-box-shadow);
}

/* Botones de filtro */
.filter-container button {
    width: 120px;
    height: 60px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.filter-container button:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

.filter-container button:active{
    scale: 0.95;
}

.filter-container button:focus{
    scale: 1.05;
}

/* Campo de búsqueda */
.filter-container input[type="text"] {
    width: 100%;
    max-width: 300px;
    height: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

    transition: all 0.5s ease;
}
.filter-container input[type="text"]:active{
    border: 1px solid #73ff00;
}
.filter-container input[type="text"]:focus{
    border: 1px solid #fbff00;
    scale: 1.05;
}
.filter-container input[type="text"]:hover{
    border: 1px solid #0051ff;
}

/* Contenedor de productos */
.product-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Tarjetas de productos */
.product-card {
    width: 150px;

    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: var(--std-box-shadow);
    text-align: center;
    transition: all 0.5s ease;
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--std-box-shadow-hover);
}
/* Imagen del producto */
.product-card img {
    width: auto;
    max-width: 95%;

    height: auto;
    max-height: 300px;

    object-fit: cover;
    
    border-radius: var(--std-borderRadius);
}
.product-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}
.product-card p {
    color: var(--font-color-p);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    letter-spacing: var(--p-letter-spacing);
}
/* Precio del producto */
.product-card p:last-of-type {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.product-controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.product-controls .btn-restar{
    border: 2px solid green;
    border-radius: 15px 0px 0px 15px;
    padding: 12px;
    cursor: pointer;
}
.product-controls .btn-restar:hover{
    background-color: green;
    color: white;
}
.product-controls span{
    border: 2px solid green;
    padding: 10px;
    cursor: pointer;
}
.product-controls .btn-sumar{
    border: 2px solid green;
    border-radius: 0px 15px 15px 0px;
    padding: 12px;
    cursor: pointer;
}
.product-controls .btn-sumar:hover{
    background-color: green;
    color: white;
}



/* search */

#secSearch input{
    width: 100%;
    max-width: 400px;
    min-height: 30px;
    padding: 5px;

    border-radius: var(--std-borderRadius);
}


/* carrito */

/* cart burbuja de cantidad */
#cartCount{
    position: relative;
    top: -48px;
    right: -22px;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    background-color: rgba(255, 0, 0, 0.8);
    color: var(--font-p-color);
    font-weight: var(--font-p-weight);

    box-shadow: var(--std-box-shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;

    transition: all 0.5s ease;
}
#cartCount:hover{
    background-color: rgba(255, 0, 0, 1);
    font-weight: 800;
    color: var(--font-p-color-hover);
    box-shadow: var(--std-box-shadow-hover);
}

/* Responsividad para pantallas pequeñas */
@media (min-width: 768px) {
    .product-section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        text-align: center;
    }
    .product-container{
        width: 75%;
    }
    .filter-container{
        min-width: 150px;
        width: 15%;
        height: 90%;
        margin-left: 20px;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
    }
    .product-card{
        width: 250px;
    }
}
